.footer {
    padding: 0 0 40px 0;

    &__items {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 56px;
        row-gap: 16px;
    }
}

@media (max-width: 479.98px) {
    .footer {
        padding: 0 0 20px 0;
        &__items {
            flex-direction: column;
        }
    }
}
